In [2]:
import pandas as pd

In [10]:
data=pd.read_csv("/content/drive/My Drive/TMI /prepro_spec_data.csv")

In [11]:
data[['학력','전공','학점','토익','토스','오픽']]

         학력    전공        학점     토익      토스   오픽
0      서울4년    경제  3.87/4.5    NaN     NaN  NaN
1      서울4년    경제  3.87/4.5    NaN     NaN  NaN
2      서울4년    경제  3.87/4.5    NaN     NaN  NaN
3      서울4년    경제  3.87/4.5    NaN     NaN  NaN
4      서울4년    경제  3.87/4.5    NaN     NaN  NaN
...     ...   ...       ...    ...     ...  ...
25569  지방4년  기계공학   3.6/4.5  825.0  level6  NaN
25570  지방4년  경영학부   3.9/4.5  845.0  level6  NaN
25571  지방4년  경영학부   3.9/4.5  845.0  level6  NaN
25572  지방4년  경영학부   3.9/4.5  845.0  level6  NaN
25573  지방4년  경영학부   3.9/4.5  845.0  level6  NaN

[25574 rows x 6 columns]

In [13]:
data[['자격증','해외경험','인턴','수상','동아리','교내활동','사회활동','자원봉사']]

       자격증 해외경험   인턴   수상  동아리 교내활동 사회활동 자원봉사
0      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...    ...  ...  ...  ...  ...  ...  ...  ...
25569  NaN   2회  NaN   2회  NaN  NaN  NaN   4회
25570   4개  NaN   1회   2회  NaN  NaN  NaN   1회
25571   4개  NaN   1회   2회  NaN  NaN  NaN   1회
25572   4개  NaN   1회   2회  NaN  NaN  NaN   1회
25573   4개  NaN   1회   2회  NaN  NaN  NaN   1회

[25574 rows x 8 columns]